{% extends "base.html" %} {% block title %}Home — Sequencer Gateway{% endblock
%} {% block content %}
<div class="text-center py-20">
  <h1 class="text-4xl font-bold text-gray-900 mb-4">
    Welcome to Sequencer Gateway
  </h1>

  <p class="text-lg text-gray-600 mb-10">I will create a dashboard here</p>

  <div class="flex justify-center gap-6">
    <a
      href="/sequencers-types"
      class="bg-gray-200 text-gray-800 px-6 py-3 rounded-lg font-medium hover:bg-gray-300 transition"
    >
      View Sequencers Types
    </a>
    <a
      href="/sequencers"
      class="bg-gray-200 text-gray-800 px-6 py-3 rounded-lg font-medium hover:bg-gray-300 transition"
    >
      View Sequencers
    </a>

    <a
      href="/runs"
      class="bg-gray-200 text-gray-800 px-6 py-3 rounded-lg font-medium hover:bg-gray-300 transition"
    >
      View Runs
    </a>
    <a
      href="/users"
      class="bg-gray-200 text-gray-800 px-6 py-3 rounded-lg font-medium hover:bg-gray-300 transition"
    >
      View Users
    </a>
  </div>
</div>
{% endblock %}
